.control-slider {
    margin: 40px 0;
}

.header {
    padding-bottom: 30px;
}

.whatif-header {
    font-weight: 700;
    font-size: 30px;
    color: #2e3131;
}

.invested-header {
    font-weight: 700;
    font-size: 22px;
    color: #575a5a;
}

.amount {
    padding: 50px 30px;
    margin-top: 40px;
    background-color: #eff4f4;
    text-align: center;

    font-weight: 700;
    font-size: 22px;
}

.currency-select, .currency-select:active {
    font-weight: 700;
    font-size: 22px;
    color: #575a5a;
    border: none;

}

.currency-select > option {
    font-size: 16px;
    font-weight: 700;
}